
<section class="row text-center mb-3">
  <div class="col-12 p-5">
    <h2 class="title">Notre histoire</h2>
    <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</h6>
  </div>
  <img src="../../assets/images/istanbul1.png" class="img-fluid mt-3" alt="">
  <img src="../../assets/images/istanbul2.png" class="img-fluid mt-3" alt="">
  <img src="../../assets/images/istanbul3.png" class="img-fluid mt-3" alt="">
  <img src="../../assets/images/istanbul4.png" class="img-fluid mt-3" alt="">
  <img src="../../assets/images/istanbul5.png" class="img-fluid mt-3" alt="">
  <div class="col-12 p-5">
    <h2>2021</h2>
    <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    </h6>
  </div>
</section>

