
  <header>
    <nav class="container">
        <div class="card-container pt-3 pb-3">

          <a routerLink="/" style="color:#6c6062;" class="name" (click)="onAffiche('home')">Nom de la Boutique</a>
          <a class="h4 lien" routerLink="/shop" routerLinkActive="active" (click)="onAffiche('shop')">Boutique</a>
          <a class="h4 lien" routerLink="/about" routerLinkActive="active" (click)="onAffiche('about')">A propos</a>
          <a class="h4 lien" routerLink="/contact" routerLinkActive="active" (click)="onAffiche('contact')">Contact</a>
          <div class="d-flex">
            <a class="circle-link" href="" target="_blank">
              <fa-icon [icon]="faFacebookF" style="color:black;"></fa-icon>
            </a>
            <a class="circle-link" href="" target="_blank">
              <fa-icon [icon]="faInstagram" style="color:black;"></fa-icon>
            </a>
          </div>
          <a class="circle-bag" title="Animations" href="https://angular.io/guide/animations" target="_blank" rel="noopener">
            <fa-icon [icon]="faShoppingBag"></fa-icon>
          </a>
        </div>
        <div *ngIf="videoShow">
          <video class="img-fluid" autoplay="true" muted="true" loop="true" preload="auto">
            <source src="../assets/videos/video.mp4" type="video/mp4">
          </video>
          <div class="card-img-overlay d-flex h-50 flex-column my-auto align-items-center justify-content-center text-center text-white">
            <h2 class="display-2 text">La mode</h2>
            <h2 class="display-2 text">change</h2>
            <h2 class="display-2 text">Toujours</h2>
            <a class="btn btn-lg boutton" href="#">shopping</a>
          </div>
        </div>
    </nav>
  </header>

  <main class="container boxFoot mt-5">

      <router-outlet></router-outlet>


      <section class="row mb-5" *ngIf="contactShow">


        <div class="box col-12 col-sm-6 col-md-3">
          <img src="../assets/images/vetements.jpg" alt="Vêtements" class="image img-fluid">
          <div class="middle">
            <button class="type">Vêtements</button>
          </div>
        </div>
        <div class="box col-12 col-sm-6 col-md-3">
          <img src="../assets/images/soiree.jpg" alt="Robes soirées" class="image img-fluid">
          <div class="middle">
            <button class="type">Robes soirées</button>
          </div>
        </div>
        <div class="box col-12 col-sm-6 col-md-3">
          <img src="../assets/images/accessoire.jpg" alt="Accessoires" class="image img-fluid">
          <div class="middle">
            <button class="type">Accessoires</button>
          </div>
        </div>
        <div class="box col-12 col-sm-6 col-md-3">
          <img src="../assets/images/home.jpg" alt="Tenue d'intérieur" class="image img-fluid">
          <div class="middle">
            <button class="type">Tenue d'intérieur</button>
          </div>
        </div>

      </section>

      <section class="row text-center" *ngIf="videoShow">
        <div class="col-12 p-5">
          <h2 class="title">Nouvelle collection</h2>
        </div>
      </section>

      <section class="row quality text-center" *ngIf="contactShow">
        <div class="col-4 col-sm-4 col-md-4 my-auto">
          <fa-icon [icon]="faTruck" style="font-size: 50px;"></fa-icon>
          <p class="h4">Livraison à domicile sur toute la Tunisie</p>
        </div>
        <div class="col-4 col-sm-4 col-md-4 my-auto">
          <fa-icon [icon]="faMoneyBillAlt" style="font-size: 50px;"></fa-icon>
          <p class="h4">Payement après la réception du votre produit</p>
        </div>
        <div class="col-4 col-sm-4 col-md-4 my-auto">
          <fa-icon [icon]="faGem" style="font-size: 50px;"></fa-icon>
          <p class="h4">Tous nos Produits sont de très bonne qualité</p>
        </div>
      </section>
  </main>

  <footer class="container boxFoot">
      <div class="row foot">
        <div class="col-3 col-sm-3 col-md-3 text-center p-5">
          <h2>BOUTIQUE</h2>
        </div>
        <div class="col-3 col-sm-3 col-md-3 text-center p-5">
          <h4>Liens Rapides</h4>
        </div>
        <div class="col-3 col-sm-3 col-md-3 text-center p-5">
          <h4>Catégories</h4>
        </div>
        <div class="col-3 col-sm-3 col-md-3 text-center p-5">
          <h4>Contactez-nous</h4>
        </div>
        <div class="col-3 col-sm-3 col-md-3 text-center">
            <h6>Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.</h6>
        </div>
        <div class="col-3 col-sm-3 col-md-3 text-center">
          <h6>Politique de confidentialité</h6>
        </div>
        <div class="col-3 col-sm-3 col-md-3 text-center">
            <h6>Vêtements</h6>
            <h6>Robe Soirée</h6>
            <h6>Accessoires</h6>
            <h6>Tenue d'intérieur</h6>
        </div>
        <div class="col-3 col-sm-3 col-md-3 text-center">
          <h6>(+216) 00 000 000</h6>
          <h6>boutique@boutique.com</h6>
          <h6>adresse</h6>
        </div>

        <div class="col-12 col-sm-12 col-md-12 d-flex p-5">
          <a class="circle-link-foot" href="" target="_blank">
            <fa-icon [icon]="faFacebookF" class="footicon"></fa-icon>
          </a>
          <a class="circle-link-foot" href="" target="_blank">
            <fa-icon [icon]="faInstagram" class="footicon"></fa-icon>
          </a>
        </div>
        <div class="col-12 col-sm-12 col-md-12 text-center p-2">
          Copyright ©2021 All rights reserved | This website is made by Bimingu
        </div>
      </div>
  </footer>





