.select{
  font-family: 'PT Sans', sans-serif;
}
.margtop{
  margin-top: 200px;
}
.shopbtn{
  background-color: #e5cbce;
  color: white;
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
}

.shopbtn:hover{
  background-color: transparent;
  color: #e5cbce;
  border: #e5cbce solid 2px;
}
